@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

:root{
    --hima_green: #009688;
}


nav{
    display: flex;
    background-color: var(--hima_green);
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    margin: auto;
}

nav div{
    margin: 1rem 5rem;
}

nav div button{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 4px;
    transition: all .4s;
}

nav div button:hover{
    background-color: #fff;
    border: 2px solid var(--hima_green);
    padding: 8px;
    color: var(--hima_green);
}

#img_icon{
    position: relative;
    display: block;
}


#acc-opt{
    position: absolute;
    left: -100px;
    padding: 1rem;
    border: 2px solid var(--hima_green);
    display: none;
    transition: all 1s;
}

#acc-opt button{
    color: black;
    background-color: #eee;
    text-align: center;
    padding: 10px .5rem;

}


#content-area{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 3px solid #009688;
    padding: 1rem;
    min-height: 0px;
}

#content-area form label{
    margin: 5px 2rem;

}

#content-area form h3{
    font-size: 2rem;
    letter-spacing: 2px;
}

#content-area form label input{
    border: 3px solid #009688;
    border-radius: 1rem;
    margin: .5rem 0 .5rem 2rem;
    padding: 4px;
}

#content-area form label input[type='submit']{
    padding: 15px;
    background-color: #009688;
    color: #fff;
}